<p>Hi there!</p>
<p>
  I bring you great news! <b>Check out the new comment added to <%= @place.name %> on Nomster.</b></p>

<p>Just click this <%= link_to 'link', place_url(@place) %>.
</p>
<p></p>
Cheers,
Lisa