<p>Hi there!</p>
<p>
  I bring you great news! <b>Check out the new comment added to your place on Nomster.</b> 

  Just click this <%= link_to 'link', place_url(@place) %>.
</p>

Cheers,<br />
Lisa